body {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

header { 
  height: 170px;
  background-repeat: repeat-x;
  background-image: url(../img/bg.png);
}

nav{
  background:#fff;   
}

nav ul{  
  margin: 0; 
}

nav ul li{
  float: left;
  height: 25px;
  padding: 8px 0;
  border-left: solid 1px #E4E4E4;
}

nav ul li:last-child {
border-right: solid 1px #E4E4E4;
}

nav ul li a{
  color: #9d9d9d;
  font-weight: bold;
  font-size: 0.75em;
  padding: 0px 25px;
  text-transform: uppercase;
}

nav ul li.current-menu-item, nav ul li.current_page_item{
  border-top: solid 4px #808080;
  height: 22px;
}

nav ul li.current-menu-item a, nav ul li.current_page_item a{
  color: #808080;
}

p {
  text-align: justify;
  color: #6A6A6A;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.3em;
}

a{
  color: #444444;
  text-decoration: none;
}

h2, h3{
  color: #3f5e91;
}

footer{
  background: #f1f1f1;
  height: 180px;
}


#content-menubar{
  height:   40px;
  background:   #f1f1f1;
  padding-top: 7px;
}

ul#breadcrumb {
  margin: 8px 0px;
}

ul#breadcrumb li {
    list-style: none;
  
    font-size: 0.75em;
    color: #727272;
}

#home-content {
  min-height: 574px;
}

#home-content img{
  width: 31%;
  margin: 0 20px;
  padding: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

/* Search Block*/

div#search {
  width: 237px;
}

#btn-search {
    padding: 0.2em  1.3em 0.3em 1.2em;
    color: #fff;
    position: absolute;
}

#input-search {
    border-color: #DBDBDB;
    font-size: 0.9em;
}

.clearfix{
  clear: both;
}
.clearfix:after{
  clear: both;
}
.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}

.row{
  width: 1024px;
  margin: 0 auto; 
}

.right{
 float: right; 
}

.left{
  float: left;
}


/* Pure CSS Style */

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

/* Login Area */

div#login {
    margin-top: 5px;
}

div#login input,div#login button {
  font-size:0.8em;
}

button#btn-signup {
    padding: 0.1em 1.5em 0.4em 1.5em;
    color: #fff;
    background: #444;
}

button#btn-login {
    padding: 0.1em 1.5em 0.3em 1.5em;
    color:#888; 
    
}

#loading{
  display:none; 
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.6;
}
#loading img{
  position: absolute;
  top: 44%;
  left: 50%;
}

.pure-alert-error {
    background-color: #D13C38;
    color: #fff;
}

.ag-state-error {
  border: 1px solid #cd0a0a !important;
  /*background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;*/
  color: #cd0a0a !important;
}

.paginate {
  padding: 0px;
  margin: 0px;
  height: 30px;
  display: block;
  text-align: center;
}

.paginate li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin-right: 1px;
  width: 30px;
  text-align: center;
  line-height: 25px;
  background-color: #4bc8dc;
}

.paginate .active {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin-right: 1px;
  width: 30px;
  text-align: center;
  line-height: 25px;
  background-color: #1281aa;
}

.paginate li a{
  color:#FFFFFF;
  text-decoration:none;
}
